*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body
{
  background-color: rgb(0,0,33);
}
#navigation
{
  color:white;
  display: flex;
  justify-content: space-around;
  background-color: rgb(18,18,62);
  height:60px;
  align-items: center;
  
}
#navigation a,ul
{
  text-decoration: none;
  color:white;
  list-style: none;
  display: flex;
  gap:35px;
}
#nav2 a:hover
{
  color:rgb(153,153,226);
  font-size: 1.04rem;
}
#nav1
{
  font-size: 1.5rem;
}
#description
{
  color:white;
  width:700px; 
  
}
#main2{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 50px;
}
#description
{
  font-size: 2.5rem;
  width:500px;
  padding-top: 60px;
  
}
#pic
{
  height:350px;
  width:350px;
  background-image: url("developer.png");
  background-size: cover;
}
.name
{
  color:blueviolet;
}
hr
{
  border: 0px;
  background-color: #9c97f1;
  height:1px;
  margin-top: 30px;
}
#workexperience
{
  height:200px;
  width:90%;
  color:white;
  
  
}
#secondsection
{
  display: flex;
  justify-content: center;
  margin-top:20px;
}
.greytext
{
  color:grey;
}

#work
{
  border-top: 2px solid white;
  margin-top:50px;
  width:100%;
  height:20px;
  display: flex;
  justify-content: space-around;
}
.box
{
  border-left:1px solid white;
  height:40px;
}
.btn
{
  background-color: #1e2167;
  padding:5px;
  border-radius: 6px;
  color:white;
  border: none;
  cursor:pointer;
  font-size: 1.2rem;
}
.btn:hover{
  border:2px solid white;
}
main a{
  color:white;
  text-decoration: none;
}


